version: "3.6"

networks:
  affirmatios_agent_net:
    external: true

services:
  hospital:
    image: arsulegai/affirmatios-hospital:latest
    container_name: hospital
    environment:
      - HTTP_HOST=0.0.0.0
      - HTTP_PORT=8080
      - CRED_DEF_ID=Th7MpTaRZVRYnPiabds81Y:3:CL:18:default
      - SCHEMA_ID=Th7MpTaRZVRYnPiabds81Y:2:hospital_record:1.0
      - SCHEMA_ISSUER_ID=Th7MpTaRZVRYnPiabds81Y
      - SCHEMA_NAME=hospital_record
      - ARIES_HOST=hospital-agent
      - ARIES_PORT=8081
    ports:
      - 9000:8080
    networks:
      - affirmatios_agent_net   

  user:
    image: shubhkarman288/affimatios-users:latest
    container_name: user
    environment:
      - HTTP_HOST=0.0.0.0
      - HTTP_PORT=8080
      - CRED_DEF_ID=Th7MpTaRZVRYnPiabds81Y:3:CL:20:default
      - SCHEMA_ID=Th7MpTaRZVRYnPiabds81Y:2:hospital_record:1.0
      - SCHEMA_ISSUER_ID=Th7MpTaRZVRYnPiabds81Y
      - SCHEMA_NAME=hospital_record
      - ARIES_HOST=user-agent
      - ARIES_PORT=8081
    ports:
      - 9001:8080
    networks:
      - affirmatios_agent_net   

  university:
    image: arsulegai/affirmatios-university:latest
    container_name: university
    environment:
      - HTTP_HOST=0.0.0.0
      - HTTP_PORT=8080
      - CRED_DEF_ID=Th7MpTaRZVRYnPiabds81Y:3:CL:17:default
      - SCHEMA_ID=Th7MpTaRZVRYnPiabds81Y:2:university_record:1.0
      - SCHEMA_ISSUER_ID=Th7MpTaRZVRYnPiabds81Y
      - SCHEMA_NAME=university_record
      - ARIES_HOST=university-agent
      - ARIES_PORT=8081
    ports:
      - 9002:8080
    networks:
      - affirmatios_agent_net   
  
  employer:
    image: arsulegai/affirmatios-employer:latest
    container_name: employer
    environment:
      - HTTP_HOST=0.0.0.0
      - HTTP_PORT=8080
      - CRED_DEF_ID=Th7MpTaRZVRYnPiabds81Y:3:CL:23:default
      - SCHEMA_ID=Th7MpTaRZVRYnPiabds81Y:2:employer_record:1.0
      - SCHEMA_ISSUER_ID=Th7MpTaRZVRYnPiabds81Y
      - SCHEMA_NAME=employer_record
      - ARIES_HOST=employer-agent
      - ARIES_PORT=8081
      - DEGREE_CRED_DEF_ID=Th7MpTaRZVRYnPiabds81Y:3:CL:23:default
      - HEALTH_CRED_DEF_ID=Th7MpTaRZVRYnPiabds81Y:3:CL:23:default
    ports:
      - 9003:8080
    networks:
      - affirmatios_agent_net   
